Source: giac
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Ximin Luo <infinity0@debian.org>, Gilles Filippini <pini@debian.org>, Julien Puydt <jpuydt@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 automake,
 patch,
 bison,
 flex,
 python3,
 libtool,
 libgl2ps-dev,
 libgmp3-dev,
 libgsl-dev,
 libntl-dev,
 libmpfr-dev,
 libmpfi-dev,
 libpari-dev,
 libreadline-dev,
 zlib1g-dev,
 libfltk1.3-dev,
 libfontconfig1-dev,
 libglu1-mesa-dev,
 libjpeg-dev,
 libpng-dev,
 libxext-dev,
 libxft-dev,
 libxinerama-dev,
# for the info pages in arch-specific packages
 texinfo,
Build-Depends-Indep:
 hevea <!nodoc>,
 imagemagick <!nodoc>,
 latex2html <!nodoc>,
 libjs-codemirror <!nodoc>,
 libjs-mathjax <!nodoc>,
 texlive-binaries <!nodoc>,
 texlive-font-utils <!nodoc>,
 texlive-science <!nodoc>,
 texlive-pstricks <!nodoc>,
 texlive-lang-all <!nodoc>,
 texlive-latex-recommended <!nodoc>,
 xauth <!nodoc>,
 xvfb <!nodoc>,
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://www-fourier.ujf-grenoble.fr/~parisse/giac.html
Vcs-Browser: https://salsa.debian.org/science-team/giac
Vcs-Git: https://salsa.debian.org/science-team/giac.git

Package: libgiac0
Section: libs
Architecture: amd64 arm64 armel armhf i386 mips64el mipsel
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: giac-doc
Description: Computer Algebra System C++ library
 Giac is a computer algebra system, following the development of the CAS for HP
 calculators. It has fast implementation of algorithms for polynomial
 operations, and compatibility mode with Maple or Mupad CAS as well as TI
 calculators.
 .
 This package contains the shared libraries needed to run programs using giac.

Package: libgiac-dev
Architecture: amd64 arm64 armel armhf i386 mips64el mipsel
Section: libdevel
Depends: ${misc:Depends}, libgiac0 (= ${binary:Version})
Description: Computer Algebra System C++ library - Development files
 Giac is a computer algebra system, following the development of the CAS for HP
 calculators. It has fast implementation of algorithms for polynomial
 operations, and compatibility mode with Maple or Mupad CAS as well as TI
 calculators.
 .
 This package contains the header files, static libraries, and other
 development files needed to build software that uses giac.

Package: xcas
Architecture: amd64 arm64 armel armhf i386 mips64el mipsel
Multi-Arch: allowed
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, libgiac0 (= ${binary:Version})
Suggests: giac-doc,
# xcas calls system() in quite a bunch of places for optional behaviour
 hevea,
 imagemagick,
 kbd,
 netpbm,
 texlive-binaries,
 texlive-latex-base,
 wget,
 xterm,
Description: Computer Algebra System - console and graphical calculator
 Giac is a computer algebra system, following the development of the CAS for HP
 calculators. It has fast implementation of algorithms for polynomial
 operations, and compatibility mode with Maple or Mupad CAS as well as TI
 calculators.
 .
 This package contains the user-facing giac programs: xcas, icas, and pgiac;
 as well as the cas_help program for providing user-oriented help.

Package: giac-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}, libjs-codemirror, libjs-mathjax, xcas
Recommends: xcas (= ${binary:Version})
Description: Computer Algebra System - documentation
 Giac is a computer algebra system, following the development of the CAS for HP
 calculators. It has fast implementation of algorithms for polynomial
 operations, and compatibility mode with Maple or Mupad CAS as well as TI
 calculators.
 .
 This package contains static user documentation for giac and xcas.
